<div class="base-container">
  <div class="title">Hydration</div>
  
  <!-- reference -->
  <div [ngClass]="referenceClassName" (click)="toggleReferenceOpen()">
    >
  </div>
  <div [ngClass]="referenceSectionClassName">
    <div class="title">5. Reference</div>
    <div class="content-container">
      <ul>
        <li>
          <a href="https://betterprogramming.pub/unveiling-angular-hydration-revolutionizing-rendering-for-enhanced-web-experiences-98c12b31f464">
            Angular Hydration Improvements: Revolutionizing Rendering for Enhanced Web Experiences
          </a>
        </li>
        <li>
          <a href="https://www.shubo.io/rendering-patterns/#%E5%A6%82%E4%BD%95%E5%84%AA%E5%8C%96-csr-%E7%9A%84%E6%95%88%E8%83%BD">
            [教學] SSR 與 CSR 深度解析：從渲染方式到效能優化
          </a>
        </li>
        <li>
          <a href="https://dev.to/jenhsuan/day-32-of-100daysofcode-the-difference-between-csr-ssr-pre-rendering-and-static-ssr-1f49">
            Day 32 of #100DaysOfCode: The difference between CSR, SSR, Pre-rendering, and Static SSR
          </a>
        </li>
        <li>
          <a href="https://blog.logrocket.com/server-side-rendering-angular-16/">
            Server-side rendering in Angular 16
          </a>
        </li>
        <li>
          <a href="https://fullstackladder.dev/blog/2021/10/16/static-site-generator-using-angular-universal-prerender/">
            [Angular Universal] 使用 Prerender 建立自己的 Static Site Generator
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
