<div class="base-container">
  <div class="title">{{ title }}</div>
  
  <!-- title -->
  <app-section-container>
    <div class="title">1. Description</div>
    <div class="description-container">
      <div class="item">
        Hydration is the trade-off between <a href="https://dev.to/jenhsuan/day-32-of-100daysofcode-the-difference-between-csr-ssr-pre-rendering-and-static-ssr-1f49">CSR ans SSR</a>. Navigation requests like full page loads or reloads are handled by a server that renders the application to HTML, then the JavaScript and data used for rendering is embedded into the resulting document.
      </div>
      <div class="item">
        <b>There are two types of hydrations.</b>
        <ol>
          <li>Destructive hydration: destroy the DOM tree and reload it when rendering on the browser (has flickering issue)</li>
          <li>Non-destructive hydration: instead of destroying, the DOM tree will be leveraged on the client side</li>
        </ol>
        <div class="item">
          In Angular v16, the flickering issue of hydration was solved. The non-destructive 
          hydration is introduced.
        </div>
      </div>
      <div class="item">
        <b>How non-destructive hydration works?</b>
        <ol>
          <li *ngFor="let item of steps">
            {{item}}
          </li>
        </ol>
      </div>
      <div class="image-container">
        <img src="../../assets/image/hydration.png" alt="">
      </div>
      <div>
        reference: <a href="">Google blog</a>
      </div>
    </div>
  </app-section-container>

  <!-- content -->
  <app-section-container>
    <div class="title">2. How to use?</div>
    <div class="description-container">
      <div class="item">
        There are steps to enable hydration.
        <ol>
          <li>
            <div>Install Angular Universal: excute the following code and it will generate src/main.server.ts, src/app/app.config.server.ts, tsconfig.server.json, and server.ts</div>
            <div>
              <pre>
                <code [innerHTML]="escapeHtml(step1)"></code>
              </pre>
            </div>
          </li>
          <li>
            <div>Update the main.ts</div>
            <div>
              <pre>
                <code [innerHTML]="escapeHtml(step2)"></code>
              </pre>
            </div>
          </li>
          <li>
            <div>Update the src/app/app.config.server.ts</div>
            <div>
              <pre>
                <code [innerHTML]="escapeHtml(step3)"></code>
              </pre>
            </div>
          </li>
          <li>
            <div>Execute the SSR dev server</div>
            <div>
              <pre>
                <code [innerHTML]="escapeHtml(step4)"></code>
              </pre>
            </div>
          </li>
        </ol>
      </div>
    </div>
    <div class="title">3. Analysis</div>
    <div class="description-container">
      <div class="item">
        <div>When the SSR server starts, the static files will be built in the dist/application/server folder</div>
        </div>
      <div class="image-container">
        <img src="../../assets/image/hydration_ssr_servr.png" alt="">
      </div>
      <div class="item">
        <div>There are two things different when inspecting the page</div>
        <ol>
          <li>The browser-sync-client in inserted into the HTML for syncing changes</li>
          <li>The JSON object was inerted into the HTML</li>
        </ol>
        <img src="../../assets/image/hydration_page.png" alt="">
      </div>
    </div>
  </app-section-container>

  <!-- reference -->
  <app-section-container>
    <div class="title">4. Reference</div>
    <div class="content-container">
      <ul>
        <li>
          <a href="https://web.dev/articles/rendering-on-the-web">
            Rendering on the Web
          </a>
        </li>
        <li>
          <a href="https://dev.to/jenhsuan/day-32-of-100daysofcode-the-difference-between-csr-ssr-pre-rendering-and-static-ssr-1f49">
            Day 32 of #100DaysOfCode: The difference between CSR, SSR, Pre-rendering, and Static SSR
          </a>
        </li>
        <li>
          <a href="https://betterprogramming.pub/unveiling-angular-hydration-revolutionizing-rendering-for-enhanced-web-experiences-98c12b31f464">
            Angular Hydration Improvements: Revolutionizing Rendering for Enhanced Web Experiences
          </a>
        </li>
        <li>
          <a href="https://www.shubo.io/rendering-patterns/#%E5%A6%82%E4%BD%95%E5%84%AA%E5%8C%96-csr-%E7%9A%84%E6%95%88%E8%83%BD">
            [教學] SSR 與 CSR 深度解析：從渲染方式到效能優化
          </a>
        </li>
        <li>
          <a href="https://blog.logrocket.com/server-side-rendering-angular-16/">
            Server-side rendering in Angular 16
          </a>
        </li>
        <li>
          <a href="https://fullstackladder.dev/blog/2021/10/16/static-site-generator-using-angular-universal-prerender/">
            [Angular Universal] 使用 Prerender 建立自己的 Static Site Generator
          </a>
        </li>
        <li>
          <a href="https://open.alipay.com/portal/forum/post/138001051">
            Angular 应用程序的 Hydration 概念详解
          </a>
        </li>
        <li>
          <a href="https://blog.crazyalu.com/2023/05/08/angular-hydration-intro/">
            關於 Angular SSR 與 Hydration
          </a>
        </li>
        <li>
          <a href="https://blog.csdn.net/angela_zhaoBei/article/details/125008459">
            browser-sync的安装及使用
          </a>
        </li>
        <li>
          <a href="https://hackmd.io/@ChrisW/H1ubXhh3s">
            How Morden App Render
          </a>
        </li>
      </ul>
    </div>
  </app-section-container>
</div>
