<div class="base-container">
  <div class="title">{{ title }}</div>

  <!-- title -->
  <app-section-container>
    <div class="title">1. Description</div>
    <div class="description-container">
      <div class="item">
        <ul>
          <li>
            Angular v16 requires node.js version v16 or v18 
            <a href="https://angular.io/guide/versions">(Version Compatibility)</a>
          </li>
          <li>
            Angular v16 requires TypeScript version 4.9 or later
            <a href="https://angular.io/guide/versions">(Version Compatibility)</a>
          </li>
          <li>
            In <a href="https://profound-kangaroo-9db0c6.netlify.app/">Angular 13</a>, 
            the view enginee has been removed. In 16, the Angular Compatibility Compiler (ngcc) has been removed
          </li>
        </ul>
      </div>
    </div>
  </app-section-container>
</div>