<div class="base-container">

  <div class="title">Official document</div>
  <div class="content-container">
    <ul>
      <li>
        <a href="https://angular.io/guide/update-to-version-16">Update Angular to v16</a>
      </li>
    </ul>
  </div>

<div class="title">Other features</div>
<div class="content-container">
</div>

<div class="title">Reference</div>
<div class="content-container">
  <ul>
    <li>
      <a href="https://blog.angular.io/angular-v16-is-here-4d7a28ec680d">
        Angular v16 is here!
      </a>
    </li>
    <li>
      <a href="https://www.angulararchitects.io/blog/angular-signals/">
        Signals in Angular: The Future of Change Detection
      </a>
    </li>
    <li>
      <a href="https://blog.angular-university.io/how-does-angular-2-change-detection-really-work/">
        Angular Change Detection - How Does It Really Work?
      </a>
    </li>
    <li>
      <a href="https://fullstackladder.dev/blog/2023/05/07/introduction-angular-signals/">
        簡介 Angular Signals
      </a>
    </li>
  </ul>
</div>
</div>