<div class="base-container">
  <div class="title">{{ title }}</div>
  
  <!-- official document -->
  <app-section-container>
    <div class="title">Official document</div>
    <div class="content-container">
      <ul>
          <li>
            <a href="https://angular.io/guide/update-to-version-16">Update Angular to v16</a>
          </li>
          <li>
            <a href="https://update.angular.io/"> Angular Update Guide</a>
          </li>
      </ul>
    </div>
  </app-section-container>
  
  <!-- other features -->
  <app-section-container>
    <div class="title">Other features</div>
    <div class="description-container">
      <li>
        <a href="https://www.typescriptlang.org/docs/handbook/release-notes/typescript-5-0.html">
          Support TypeScript 5.0
        </a>
      </li>
      <li>
        Self-closing tag
        <div>
          <pre>
            <code [innerHTML]="escapeHtml(selfCloseDemo)"></code>
          </pre>
        </div>
      </li>
      <li>
        <a href="https://github.com/angular/components/blob/main/guides/v15-mdc-migration.md">
          Migration guide to MDC-based components 
        </a>
      </li>
      <li>
        Required inputs
        <div>
          <pre>
            <code [innerHTML]="escapeHtml(requiredInputsDemo)"></code>
          </pre>
        </div>
      </li>
    </div>
  </app-section-container>
  
  <!-- reference -->
  <app-section-container>
    <div class="title">Reference</div>
    <div class="content-container">
      <ul>
        <li>
          <a href="https://blog.angular.io/angular-v16-is-here-4d7a28ec680d">
            Angular v16 is here!
          </a>
        </li>
        <li>
          <a href="https://www.angulararchitects.io/blog/angular-signals/">
            Signals in Angular: The Future of Change Detection
          </a>
        </li>
        <li>
          <a href="https://blog.angular-university.io/how-does-angular-2-change-detection-really-work/">
            Angular Change Detection - How Does It Really Work?
          </a>
        </li>
        <li>
          <a href="https://fullstackladder.dev/blog/2023/05/07/introduction-angular-signals/">
            簡介 Angular Signals
          </a>
        </li>
      </ul>
    </div>
  </app-section-container>
</div>