.demo-container {
  flex-direction: column;
  border: 1px solid red;
  width: 42em;
  justify-content: center;
  align-items: center;
  padding: .5em;
}

.demo {
  display: flex;
  flex-direction: column;
  .node-title {
    text-align: center;
  }
  .content {
    display: flex;
  }
}

.image-container {
  display: flex;
  justify-content: center;
}